# temp:
temp/
temp2/
temp3/
temp*/
attention/
/features/
log
log2
log3/

# Python:
__pycache__/
*.out

# temp script
parallel*
serial*

# CV2
/script2/

# CV3
/script3/

# some log
!/log/stable/baselinelstm/*
!/log/stable/baselinednn/*
!/log/stable/attention1/*
!/log/stable/attention2/*
!/log/stable/attention3/*
